@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

.hero-font{
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}

.card-font{
 font-family: "Cabin Condensed", sans-serif;
  font-weight:600;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}